@tailwind base;
@tailwind components;
@tailwind utilities;

.rating label::before {
  content: "\2605";
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ffd700 ;
}
